<h2> List of raitings </h2>

<p> Total Amount of raitings
  <%  if @raitings.count == 42 %>
         is rather high
      <% else %>
         <%= @raitings.count %>
      <% end %>
</p>



<ul>
    <% @raitings.each do |raiting| %>
        <li> <%= raiting %> <%= link_to 'delete', raiting, method: :delete, data: {confirm:'Are you sure?'} %> </li>
    <% end %>
</ul>

<p>
  <%= link_to 'Write new raiting', new_raiting_path %>
</p>
