<h2> List of raitings </h2>

<p> Total Amount of raitings
  <%  if @raitings.count == 42 %>
         is rather high
      <% else %>
         <%= @raitings.count %>
      <% end %>
</p>

<ul>
    <% @raitings.each do |raiting| %>
        <li> <%= raiting.to_s %> </li>
    <% end %>
</ul>
