<h2> Create new rating</h2>

<%= form_for(@raiting) do |f| %>
  <%= f.select :beer_id, options_from_collection_for_select(@beers, :id, :to_s) %>
  score: <%= f.number_field :score, :min => 0, :max => 50, :value => 25 %>
  <%= f.submit %>
<% end %>
